/*@font-face {
    font-family: "Savoye LET";
    src: url("/Fonts/savoye.ttf");
}*/

.bodybg {
    -fx-background-image: url("/Images/lightblue.png");
}

/*.root {
    -fx-font-family: "Savoye LET";
    color:"#021175";
    font-size:1.2em;
}*/